body{
    background:url(/assets/img/lightblue.png); /* ændre til variabel der kan ændres fra admin page */
    background-repeat: repeat;
}

.flex-container {
/*Defines from where the code is flex*/
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: lightblue;
	-webkit-justify-content: center;
	margin: auto;
	max-width: 80%;
	flex-wrap: wrap;
	
}
		
.flex-column {
/*adds the flex element to column*/
	-webkit-flex: 2;
	flex: 2;
	margin: auto;
}

img.logo { 
/* remove once website is flex*/
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-align-self: flex-start;
	width: 150px;
	height: 150px;
}

.fill {
	width: 100%;	
}
ul.ulNavMenu{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0;    
	margin: 0;
  	list-style-type: none;
	-webkit-justify-content: flex-end;
	flex: 1;
	flex-wrap: wrap;
	background-color: lightgray;
}

li.navbar {
	display: inline-block;
	font-family: Verdana;    
	color: white;
	font-size: 23px;
	text-align: center;
}

li.navbar a{
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
}

li.navbar a.active {
	background-color: darkgray;
    	color: white;
}

li.navbar a:hover:not(.active) {
    	background-color: gray;
    	color: white;
}





/*
@media screen and (max-width:1919px){
    #container{
        width:100%;
    }
    #registrationButton{
        width:100%;
        height:100%;
    }
    img{
        width: 30%;
        height: 30%;
    }
}
*/
