body{
    background:url(/assets/img/lightblue.png); /* ændre til variabel der kan ændres fra admin page */
    background-repeat: repeat;
}
 
ul.ulNavMenu{
	display: -webkit-flex;
	padding: 0;    
	margin: 0;
  	list-style-type: none;
	justify-content: flex-end;
}


.nav {
	margin-top: 25px;
	
}

.flex-container {
/*Defines from where the code is flex*/
	display: -webkit-flex;
	display: flex;
	background-color: lightblue;
	justify-content: center;
}
		
.flex-column {
/*adds the flex element to column*/
	-webkit-flex: 1;
	flex: 1;
	max-width: 80%;   /* Det her driller - ikke sikker, men da du ændrede with fra 50-80%, tror jeg det gjorde noget ved alle sider*/
	margin: auto;
}

img.logo { 
/* remove once website is flex*/
	width: 150px;
	height: 150px;
	margin-left: 30px;
}

li.navbar {
	font-family: Verdana;    
	color: white;
	font-size: 23px;
	text-align: center;
	background-color: lightgray;
}

li.navbar a{
	display: block;
	color: white;
	padding: 10px;
	text-decoration: none;
}

li.navbar a.active {
    	font-weight: bold;
	background-color: darkgray;
    	color: white;
}

li.navbar a:hover:not(.active) {
    	background-color: gray;
    	color: black;
}





/*
@media screen and (max-width:1919px){
    #container{
        width:100%;
    }
    #registrationButton{
        width:100%;
        height:100%;
    }
    img{
        width: 30%;
        height: 30%;
    }
}
*/
