body{
    background:url(/assets/img/lightblue.png); /* ændre til variabel der kan ændres fra admin page */
    background-repeat: repeat;
}

.flex-container {
/*Defines from where the code is flex*/
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: white;
	margin: 0px auto;
	max-width: 80%;
	flex-wrap: wrap;
	
}
		
.flex-column {
/*adds the flex element to column*/
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 1;
	margin: 0 auto;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	
}

img.logo { 
/* remove once website is flex*/
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-align-self: flex-start;
	padding-left: 15px;
	width: 150px;
	height: 150px;
}

.fill {
	width: 100%;
}

ul.ulNavMenu{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0;    
	margin: 0;
  	list-style-type: none;
	flex: 1;
	flex-wrap: wrap;
	background-color: deepskyblue;
	-webkit-justify-content: flex-end;
}

li.navbar {
	display: inline-block;
	font-family: Verdana;    
	color: white;
	font-size: 20px;
	text-align: center;
}

li.navbar a{
	display: block;
	color: white;
	padding: 10px;
	text-decoration: none;
}

li.navbar a.active {
	background-color: #0099cc;
    	color: white;
}

li.navbar a:hover:not(.active) {
    	background-color: #00a8e0;
    	color: white;
}

.main {
	order: 2;
	flex: 2;
	background-color: red;
}
.aside1{
	order: 1;
	flex: 1;
	-webkit-align-self: center;
}

.aside2{
	order: 3;
	flex: 1;
	-webkit-align-self: center;
}



/*
@media screen and (max-width:1919px){
    #container{
        width:100%;
    }
    #registrationButton{
        width:100%;
        height:100%;
    }
    img{
        width: 30%;
        height: 30%;
    }
}
*/
