body{
    background:url(/assets/img/lightblue.png); /* ændre til variabel der kan ændres fra admin page */
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
}
		
.nav {
	width: 200;
}
		
.flex-column {
	-webkit-flex: 1;
	flex: 1;
	max-width: 50%;
}

.logo { /*fjern efter inklution af responsivt design */
	width: 150px;
	height: 150px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
