body{
    background:url(/assets/img/lightblue.png); /* ændre til variabel der kan ændres fra admin page */
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}
 
#sideMenu{
    width: 350px;
    height: 800px;
}


.NavMenu{
	padding: auto;    
	border: 1px #D46600;   
	border-style: solid; 
	background: orange; /* For browsers that do not support gradients */   
	background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */ 
	background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */ 
	background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
	font-family: Verdana;    
	color: white;
	font-size: 23px;
	text-align: center;
	margin: 5px;
	list-style-type: none;
}

.nav {
	width: 200;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
}
		
.flex-column {
	-webkit-flex: 1;
	flex: 1;
	max-width: 50%;
}

img.logo { /*fjern efter inklution af responsivt design */
	width: 150px;
	height: 150px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*
@media screen and (max-width:1919px){
    #container{
        width:100%;
    }

    #registrationButton{
        width:100%;
        height:100%;
    }


    img{
        width: 30%;
        height: 30%;
    }
}
*/
