body{
    background:url(AlternativeBackground.jpg); /* ændre til variabel der kan ændres fra admin page */
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
}
 
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#container{
    width: 1920px; 
    margin: 0 auto;
}

#logo{
    width: 400px;
    height: 400px;
    display:inline-block;
    margin-left: 2%;
    margin-bottom: 8%;
}

#sideMenu{
    width: 350px;
    height: 800px;
}


#praemier{
    width: 270px;
    height: 70px;
    padding: 40px;
    border: 5px #D46600;
    border-style: solid;
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
    font-family: Verdana;
    color: white;
    font-size: 45px;
    text-align: center;
}

#regler{
    width: 270px;
    height: 70px;
    padding: 40px;
    border: 5px #D46600;
    border-style: solid;
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
    font-family: Verdana;
    color: white;
    font-size: 45px;
    text-align: center;
}

#kalender{
    width: 270px;
    height: 70px;
    padding: 40px;
    border: 5px #D46600;
    border-style: solid;
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
    font-family: Verdana;
    color: white;
    font-size: 45px;
    text-align: center;
}
#vindere{
    width: 270px;
    height: 70px;
    padding: 40px;
    border: 5px #D46600;
    border-style: solid;
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
    font-family: Verdana;
    color: white;
    font-size: 45px;
    text-align: center;
}
#turneringer{
    width: 270px;
    height: 70px;
    padding: 40px;
    border: 5px #D46600;
    border-style: solid;
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
    font-family: Verdana;
    color: white;
    font-size: 45px;
    text-align: center;
}

/*
@media screen and (max-width:1919px){
    #container{
        width:100%;
    }

    #registrationButton{
        width:100%;
        height:100%;
    }


    img{
        width: 30%;
        height: 30%;
    }
}
*/
