body{
    background:url(/assets/img/lightblue.png); /* ændre til variabel der kan ændres fra admin page */
    background-repeat: repeat;
}

ul.ulNavMenu{
	padding: 0;    
	margin: 0;
	list-style-type: none;
}
li {
	padding: auto;    
	border: 1px #D46600;   
	border-style: solid; 
	background: orange; /* For browsers that do not support gradients */   
	background: -webkit-linear-gradient(#FF9531, #FF7C00); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF9531, #FF7C00); /* For Opera 11.1 to 12.0 */ 
	background: -moz-linear-gradient(#FF9531, #FF7C00); /* For Firefox 3.6 to 15 */ 
	background: linear-gradient(#FF9531, #FF7C00); /* Standard syntax */
	font-family: Verdana;    
	color: white;
	font-size: 23px;
	text-align: center;
	margin: auto;
	list-style-type: none;
	-webkit-flex: 1;
	flex: 1;
	max-width: 100%
}

.flex-container {
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -moz-flex;
  	display: -webkit-flex;
 	display: flex;
	display: -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
		
.flex-column {
	-webkit-flex: 1;
	flex: 1;
	max-width: 50%;
}

img.logo { /*fjern efter inklution af responsivt design */
	width: 50px;
	height: 50px;
}

a {
/* This flexbox code stretches the link's clickable area to fit its parent block. */
  display:        flex;
  flex-grow:      1;
  flex-shrink:    1;
  justify-content: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:active {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
